            <section id="section-2012" class="fade-in">
                <h1>2012</h1>
                <article>
                    <p>
                        しかしながら, 病気の回復がよくなく結局は入社を辞退することになりました.
                        これから, 1年半年ほどニート生活が始まります.
                    </p>
                    <p>
                        それでも, 「熱中」できることは変わりませんでした.
                        特に, 2012年度はコンピューターサイエンスでもとりわけWebへと突き進み, JavaScriptという1つの言語を極めていくきっかけとなった非常に重要な時間でした.
                    </p>
                    <p>
                        また, JavaScriptに加えて, デザインも少しずつ学んだことで,
                        ユーザーの見える部分・ユーザーが機能をダイレクトに体感できる部分を創造することに強い楽しみをもつようになりました.
                    </p>
                </article>
                <section>
                    <h2>April</h2>
                    <article>
                        <p>
                            4月の最初から, さっそく自宅Webサーバーの構築にとりかかりました.
                            そのためにTCP / IPについてもより深く学びました.
                            それから, PHPとMySQLを利用して, Apacheモジュールとして動作する掲示板を制作しました.
                        </p>
                        <p>
                            Webサーバーが構築できたとき, 掲示板ができたときの達成感は今でも忘れていません.
                        </p>
                        <p>
                            Webデザインにも取り組むようになり, レイアウトや配色の基礎知識, PhotoshopやIllustratorの習得,
                            セマンティックなマークアップ, 効率の良いスタイル設定などもう1度基礎からXHTML・CSSを学びました.
                            また, スマートフォンサイトの制作のためにHTML5によるマークアップ, CSS3によるデザインも学び始めました.
                        </p>
                    </article>
                </section>
                <section>
                    <h2>May</h2>
                    <article>
                        <p>
                            システムコールプログラミングの継続と並行して, Javaへのステップアップのためにと考えて, C++の基本も学び始めました.
                        </p>
                    </article>
                </section>
                <section>
                    <h2>June</h2>
                    <article>
                        <p>
                            Webページに動きをつけたい…ということをきっかけに, jQueryを学び始めました.
                            これが, JavaScripterへの第一歩となりました.
                        </p>
                    </article>
                </section>
                <section>
                    <h2>July 〜 September</h2>
                    <article>
                        <p>
                            Yahooクリエイティブアワードで, HTML5 API (Canvas) を利用したお絵描きアプリ (<a href="https://weblike-curtaincall.ssl-lolipop.jp/portfolio-instant-canvas-presentation/" target="_blank" rel="noopener noreferrer">Instant Canvas Presentation</a>) を制作したことをきっかけに, 本格的にJavaScriptを学び始めました.
                        </p>
                    </article>
                </section>
                <section>
                    <h2>October 〜 March</h2>
                    <article>
                        <p>
                            そして, ブラウザで高機能なサウンド処理を実現するWeb Audio APIに出会ったことが,
                            JavaScripterへと進む原動力となりました.
                        </p>
                        <p>
                            この頃はWeb Audio APIに関する資料は少なく,
                            W3Cの仕様や既に作成されているWeb Audio APIのアプリケーションのソースコードを何度もリーディングしてWeb Audio APIを習得し,
                            同時にJavaScriptの言語仕様についても深く学んでいきました.
                        </p>
                        <p>
                            しかし, 最初は仕様がほとんどわからず (特に, ScriptProcessorNodeの挙動がよくわからず), また, JavaScriptの理解もまだまだ未熟だったので,
                            aikeさんのような<a href="http://aikelab.net/websynth/" target="_blank" rel="noopener noreferrer nofollow">WebSynth</a>は自分にはできない…とあきらめたくなるような気持ちは何度もおきました.
                            それでも, 自分の創造を絶対に具現化したいという強い気持ちが原動力となり, いずれは自分の集大成となる, <a href="https://korilakkuma.github.io/X-Sound/" target="_blank" rel="noopener noreferrer">X Sound</a>と<a href="https://github.com/Korilakkuma/XSound" target="_blank" rel="noopener noreferrer">XSound</a>を制作し始めました.
                        </p>
                    </article>
                </section>
                <article>
                    <p>
                        2012年度の終わり, 「オブジェクト指向でなぜつくるのか」を読んで, 今までは形式的にしか理解できていなかったオブジェクト指向について,
                        その本質を理解できるようになりました. これは, 2012年度に数多くのコードを作成してきたからこそだったと思います.
                        また, 関数型言語をいずれ学んでみたいと思うきっかけをもたせてくれました.
                    </p>
                </article>
                <aside>
                    <ul class="book-list">
                        <li><a href="//www.amazon.co.jp/gp/product/4774144665/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4774144665&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4774144665&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4774144665" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/477414813X/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=477414813X&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=477414813X&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=477414813X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4844329278/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4844329278&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4844329278&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4844329278" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4774149705/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4774149705&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4774149705&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4774149705" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4048684116/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4048684116&linkCode=as2&tag=rilakkuma3x0d-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4048684116&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0d-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0d-22&l=as2&o=9&a=4048684116" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4048706691/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4048706691&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4048706691&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4048706691" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4774144371/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4774144371&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4774144371&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4774144371" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4797354437/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4797354437&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4797354437&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4797354437" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4839929734/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4839929734&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4839929734&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4839929734" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4797369574/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4839929734&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4797369574&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x04-22&l=as2&o=9&a=4797369574" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4839938296/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4839938296&linkCode=as2&tag=rilakkuma3x0d-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4839938296&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0d-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0d-22&l=as2&o=9&a=4839938296" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4899772750/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4899772750&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4899772750&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4899772750" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4883378209/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4883378209&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4883378209&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4883378209" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4883378217/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4883378217&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4883378217&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4883378217" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4274068765/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4274068765&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4274068765&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4274068765" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4894713195/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4894713195&linkCode=as2&tag=rilakkuma3x0d-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4894713195&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0d-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0d-22&l=as2&o=9&a=4894713195" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4048700219/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4048700219&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4048700219&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4048700219" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4797357037/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4797357037&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4797357037&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4797357037" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4274206505/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4274206505&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4274206505&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4274206505" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4798108936/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4798108936&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4798108936&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4798108936" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4798103187/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4798103187&linkCode=as2&tag=rilakkuma3x0d-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4798103187&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0d-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0d-22&l=as2&o=9&a=4798103187" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4822284654/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4822284654&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4822284654&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4822284654" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                    </ul>
                </aside>
            </section>
            <!-- /#section-2012 -->