            <section id="section-2013" class="fade-in">
                <h1>2013</h1>
                <article>
                    <p>
                        2013年度は, JavaScriptをさらに追求していくとともに,
                        ActionScript 3.0やJavaといった新しい言語の習得も始めました.
                    </p>
                    <p>
                        Web Audio APIのライブラリを制作していくうちに, プログラミング作法を学んだり,
                        バージョン管理の必要性を感じ, git, そして, GitHubの利用も始めたりしました.
                    </p>
                    <p>
                        そして, 11月からはアルバイトを始め, これまで独学でやってきたことを現場のプログラミングに活かす機会が訪れました.
                        また, CakePHPを利用していたので, CakePHPの習得やPHPのMVCフレームワークの内部構造についても学びました.
                    </p>
                    <p>
                        「追求」と「挑戦」がキーワードの1年だったような気がします.
                    </p>
                </article>
                <section>
                    <h2>April 〜 October</h2>
                    <article>
                        <p>
                            オブジェクト指向プログラミングを実践することを1つの目標にして, Web Audio APIのライブラリ (<a href="https://github.com/Korilakkuma/XSound" target="_blank" rel="noopener noreferrer">XSound</a>)のバージョンアップを繰り返しました.
                            そして, 1月までにはおおよその機能 (サウンド生成, ワンショットオーディオの再生, 楽曲データの再生, エフェクター, ビジュアライゼーション, レコーディング機能, セッション機能, MMLによる自動演奏機能) をライブラリ化しました.
                            そのライブラリを利用した<a href="https://korilakkuma.github.io/X-Sound/" target="_blank" rel="noopener noreferrer">X Sound</a>も, ほぼ現在の形ができあがりました.
                            この過程で, JavaScriptにさらに磨きをかけていきました. おおよそのHTML5 APIも使いこなせるようになりました.
                            WebSocketの利用をきっかけにNode.jsの習得も始めました.
                        </p>
                        <p>
                            また, ポートフォリオとしてWeb Audio APIの解説サイト, <a href="https://weblike-curtaincall.ssl-lolipop.jp/portfolio-web-sounder/" target="_blank" rel="noopener noreferrer">WEB SOUNDER</a>の制作も始めました.
                        </p>
                        <p>
                            Web Audio APIライブラリの制作とWeb Audio API解説サイトの制作と並行して,
                            ActionScript 3.0やJavaも学び始めました.
                        </p>
                    </article>
                </section>
                <section>
                    <h2>November 〜 December</h2>
                    <article>
                        <p>
                            11月から<a href="https://www.combz.jp/" target="_blank" rel="noopener noreferrer nofollow">株式会社コンビーズ</a>というメール配信事業をしている企業でWebプログラマとしてアルバイトを始めました.
                            やっぱり, 初めの出勤は少し緊張したことを今でも覚えています.
                        </p>
                        <p>
                            初めての仕事は, デコメールエディタの改良でした.
                            こういったWYSIWYGエディタでは, contentEditable属性を利用し,
                            JavaScriptのdocument.execCommandやSelection・Rangeオブジェクトを利用して作成するのですが,
                            これらを解説している書籍やWebサイトは非常に少なかったので, アルバイトを始める時点でかなりJavaScriptを書いてきたにも関わらず,
                            まったく知らなかったので (当然実装したこともなく) 非常にラッキーな仕事をいきなり任せてもらえたなと思いました.
                        </p>
                        <p>
                            リッチエディタのためのJavaScriptのAPIの習得とともに,
                            いずれサーバーサイドの仕事もバリバリ任せてもらいたいと思い,
                            並行してCakePHPの習得も始めました (また, PHPも基礎から学び直しました).
                        </p>
                    </article>
                </section>
                <section>
                    <h2>January 〜 March</h2>
                    <article>
                        <p>
                            1月には, 初めてプログラミングのイベント, Web Musicハッカソン#2に参加しました.
                        </p>
                        <p class="embed-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/dCvuBz1FYWg" frameborder="0" allowfullscreen></iframe></p>
                        <p>
                            アルバイトでは, デコメールエディタから発展して<a href="https://plus.combz.jp/pub/notice/index" target="_blank" rel="noopener noreferrer nofollow">HTMLメールエディタ</a>制作プロジェクトの一員になりました.
                            HTMLメールエディタのフロントエンド部分, つまり, JavaScriptのコードはすべて自分が制作しました.
                            また, 再利用可能なように, jQueryプラグインとしてライブラリ化しました.
                        </p>
                        <p>
                            一方, SPA (Single Page Application) の制作において, jQueryでは力不足を感じ,
                            これが, フロントエンドMV * フレームワークを習得しようというきっかけになりました.
                        </p>
                        <p>
                            プライベートでの制作は, デザインもサーバーサイドも一人で制作してきましたが,
                            それとは異なった, デザイナーの方やサーバーサイドの方と協力して1つのものを創造するという楽しみを体感することができました.
                        </p>
                    </article>
                </section>
                <article>
                    <p>
                        3月には, MacBook Airを購入し念願のMacユーザーになりました.
                        病気もほとんど問題ないぐらいに回復し, 最後の1年に向けて, 万全の準備を整えることができました.
                    </p>
                </article>
                <aside>
                    <ul class="book-list">
                        <li><a href="//www.amazon.co.jp/gp/product/4756136494/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4756136494&linkCode=as2&tag=rilakkuma3x0e-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4756136494&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0e-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0e-22&l=as2&o=9&a=4756136494" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4873115655/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4873115655&linkCode=as2&tag=rilakkuma3x0e-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4873115655&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0e-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0e-22&l=as2&o=9&a=4873115655" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/B00O8GIJQY/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=B00O8GIJQY&linkCode=as2&tag=rilakkuma3x0e-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00O8GIJQY&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0e-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0e-22&l=as2&o=9&a=B00O8GIJQY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4774156167/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4774156167&linkCode=as2&tag=rilakkuma3x0e-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4774156167&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0e-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0e-22&l=as2&o=9&a=4774156167" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/477414813X/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=477414813X&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=477414813X&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=477414813X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4844332937/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4844332937&linkCode=as2&tag=rilakkuma3x0d-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4844332937&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0d-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0d-22&l=as2&o=9&a=4844332937" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4774156116/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4774156116&linkCode=as2&tag=rilakkuma3x0e-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4774156116&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0e-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0e-22&l=as2&o=9&a=4774156116" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/477415489X/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=477415489X&linkCode=as2&tag=rilakkuma3x0e-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=477415489X&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0e-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0e-22&l=as2&o=9&a=477415489X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4774144371/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4774144371&linkCode=as2&tag=rilakkuma3x09-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4774144371&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x09-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x09-22&l=as2&o=9&a=4774144371" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4839924317/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4839924317&linkCode=as2&tag=rilakkuma3x0e-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4839924317&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0e-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0e-22&l=as2&o=9&a=4839924317" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4881669796/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4881669796&linkCode=as2&tag=rilakkuma3x0e-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4881669796&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0e-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0e-22&l=as2&o=9&a=4881669796" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4873113717/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4873113717&linkCode=as2&tag=rilakkuma3x0e-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4873113717&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0e-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0e-22&l=as2&o=9&a=4873113717" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4774166855/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4774166855&linkCode=as2&tag=rilakkuma3x0e-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4774166855&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0e-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0e-22&l=as2&o=9&a=4774166855" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4774155225/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4774155225&linkCode=as2&tag=rilakkuma3x0e-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4774155225&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0e-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0e-22&l=as2&o=9&a=4774155225" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                    </ul>
                </aside>
            </section>
            <!-- /#section-2013 -->