            <section id="section-2014" class="fade-in">
                <h1>2014</h1>
                <article>
                    <p>
                        2014年4月1日からWordPressによる<a href="https://weblike-curtaincall.ssl-lolipop.jp/blog/" target="_blank" rel="noopener noreferrer">技術ブログ</a>も始めました.
                    </p>
                </article>
                <section>
                    <h2>April</h2>
                    <article>
                        <p>
                            4月に取り組んだことは, <a href="https://korilakkuma.github.io/X-Sound/" target="_blank" rel="noopener noreferrer">X Sound</a>のサウンド設定保存機能の実装でした.
                            Node.js + express + MongoDBを利用して実装しました.
                        </p>
                    </article>
                </section>
                <section>
                    <h2>May</h2>
                    <article>
                        <p>
                            5月に取り組んだことは, 自分の<a href="https://weblike-curtaincall.ssl-lolipop.jp/" target="_blank" rel="noopener noreferrer">メインサイト</a>や<a href="https://weblike-curtaincall.ssl-lolipop.jp/portfolio-web-sounder/" target="_blank" rel="noopener noreferrer">WEB SOUNDER</a>のレスポンシブレイアウト対応でした.
                        </p>
                        <p>
                            アルバイトでのコーディングからテストコードの必要性やシステムのアーキテクチャを設計できる必要性を感じ,
                            ユニットテストを書くことやデザインパターンを学び始めました.
                        </p>
                        <p>
                            そして, 以前より必要生を痛感していた英語も勉強し始めました.
                        </p>
                        <p>
                            5月の末…某インターネット企業よりこれまた運良く内定を頂くことができました.
                        </p>
                    </article>
                </section>
                <section>
                    <h2>June</h2>
                    <article>
                        <p>
                            6月には, いよいよAnguarJSに着手しました.
                            手始めに, <a href="https://weblike-curtaincall.ssl-lolipop.jp/bbs" target="_blank" rel="noopener noreferrer">掲示板</a>や<a href="https://weblike-curtaincall.ssl-lolipop.jp/contact" target="_blank" rel="noopener noreferrer">コメントフォーム</a>, <a href="https://weblike-curtaincall.ssl-lolipop.jp/portfolio-web-sounder/webaudioapi-references/search" target="_blank" rel="noopener noreferrer">Web Audio APIの検索システム</a>のフロントエンド部分をAngularJSでリファクタリングしました.
                            そして, HTMLメールエディタもAngularJSでリファクタリングしました.
                        </p>
                    </article>
                </section>
                <section>
                    <h2>July 〜 September</h2>
                    <article>
                        <p>
                            7月からは, これまで学んできたJavaを活かし, Androidアプリの制作を始めました.
                            その成果が<a href="https://korilakkuma.github.io/Express/" target="_blank" rel="noopener noreferrer">Express</a>と, そのコアとなるライブラリである<a href="https://github.com/Korilakkuma/CanvasView" target="_blank" rel="noopener noreferrer">CanvasView</a>です.
                            <!-- これが, 人生で初めて制作したネイティブアプリケーションでもありました. -->
                        </p>
                        <p>
                            また, デザインもタイポグラフィ・配色といった基礎知識を再度学び直しました.
                        </p>
                    </article>
                </section>
                <section>
                    <h2>October</h2>
                    <article>
                        <p>
                            10月には, Web Components (を構成する技術) を学び始め, <a href="https://github.com/Korilakkuma/x-piano" target="_blank" rel="noopener noreferrer">x-piano</a>のベースが完成しました.
                        </p>
                        <p>
                            また, GitHubのPull Requestを利用し, 些細ですが初めてオープンソースに貢献することができました.
                        </p>
                    </article>
                </section>
                <section>
                    <h2>November</h2>
                    <article>
                        <p>
                            11月には, Sassの習得を始め, より効率よくスタイルシートを記述することができるようになりました.
                        </p>
                        <p>
                            また, 11月の末には2013年の4月から制作を始めていた<a href="https://weblike-curtaincall.ssl-lolipop.jp/portfolio-web-sounder/" target="_blank" rel="noopener noreferrer">WEB SOUNDER</a>が完成しました (ほんとに長い長い道のりでした…).
                        </p>
                    </article>
                </section>
                <section>
                    <h2>December</h2>
                    <article>
                        <p>
                            12月には, AngularJSをさらに深く学び, カスタムサービスやカスタムディレクティブの実装もある程度こなせるレベルになりました.
                        </p>
                    </article>
                </section>
                <section>
                    <h2>January 〜 March</h2>
                    <article>
                        <p>
                            最後の3ヶ月はまさに卒業制作の時間でした.
                        </p>
                        <p>
                            <a href="https://korilakkuma.github.io/X-Sound/" target="_blank" rel="noopener noreferrer">X Sound</a>の画像のRetinaディスプレイ対応, express 4.xでサーバーサイドのリファクタリング, SassによるCSSのリファクタリング, AngularJSによるリファクタリング.
                            <a href="https://github.com/Korilakkuma/XSound" target="_blank" rel="noopener noreferrer">XSound</a>の<a href="//korilakkuma.github.io/XSound/" target="_blank" rel="noopener noreferrer">APIドキュメント</a>の制作.
                            <a href="https://github.com/Korilakkuma/x-piano" target="_blank" rel="noopener noreferrer">x-piano</a>のPolymerによる実装.
                        </p>
                        <p>
                            そして, このWebサイトMy Library.
                        </p>
                    </article>
                </section>
                <aside>
                    <ul class="book-list">
                        <li><a href="//www.amazon.co.jp/gp/product/4048863231/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4048863231&linkCode=as2&tag=rilakkuma3x0e-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4048863231&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0e-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0e-22&l=as2&o=9&a=4048863231" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/483994539X/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=483994539X&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=483994539X&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=483994539X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4797359226/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4797359226&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4797359226&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=4797359226" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4797359234/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4797359234&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4797359234&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=4797359234" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4844335057/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4844335057&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4844335057&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=4844335057" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4844334662/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4844334662&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4844334662&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=4844334662" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4797370904/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4797370904&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4797370904&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=4797370904" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/487311635X/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=487311635X&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=487311635X&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=487311635X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <!-- <li><a href="//www.amazon.co.jp/gp/product/487311554X/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=487311554X&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=487311554X&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=487311554X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li> -->
                        <li><a href="//www.amazon.co.jp/gp/product/487311618X/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=487311618X&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=487311618X&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=487311618X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4873116678/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4873116678&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4873116678&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=4873116678" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4844336681/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4844336681&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4844336681&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=4844336681" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4797327030/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4797327030&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4797327030&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=4797327030" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4798035858/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4798035858&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4798035858&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=4798035858" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4774166855/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4774166855&linkCode=as2&tag=rilakkuma3x0e-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4774166855&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x0e-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x0e-22&l=as2&o=9&a=4774166855" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4873113717/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4873113717&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4873113717&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=4873113717" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4873113873/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4873113873&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4873113873&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=4873113873" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                        <li><a href="//www.amazon.co.jp/gp/product/4844332848/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4844332848&linkCode=as2&tag=rilakkuma3x03-22"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4844332848&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=rilakkuma3x03-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=rilakkuma3x03-22&l=as2&o=9&a=4844332848" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
                    </ul>
                </aside>
            </section>
            <!-- /#section-2014 -->