            <section id="section-epilogue" class="fade-in">
                <h1>Epilogue</h1>
                <article>
                    <p>
                        この4年間, 特に, Webの世界に入った3年間は, これまでの人生のなかで比較にならないぐらい充実していました.
                        病気をしていたので, その点でつらかったことはたくさんありましたが, それでもそう言い切れるぐらい充実していました.
                        そして, この4年間が自分にとって本当の大学だったような気がします.
                    </p>
                    <p>
                        なんだかんだで運が良かったです.
                        何より周りの人に恵まれていたと思います.
                        家族, 毎日のように通った図書館のスタッフの方々, 病院の先生, コンビーズの社員の方々, Web Music Developers JPの方々…
                    </p>
                    <p>
                        この4年間, 自分に関わってくれたすべての人に感謝の気持ちでいっぱいです.
                    </p>
                </article>
            </section>
            <!-- /#section-epilogue -->