            <section id="section-prolog" class="fade-in">
                <h1>Prolog</h1>
                <article>
                    <p>
                        このWebサイトは, 私がコンピューターサイエンス, 特にWebプログラミング, Webデザインに関わってきた軌跡を紹介しています.
                    </p>
                    <p>
                        このWebサイトを制作している時点で, およそ4年間コンピューターサイエンス (2011 〜 2014年度) に関わり,
                        そのうちの3年間 (2012 〜 2014年度) は, ほぼWebに特化して活動してきました.
                    </p>
                    <p>
                        もちろん, これからもその活動は続いていきますが,
                        1つの区切りとして, 4年間の軌跡を残しておきたいと考えて,
                        このWebサイトを制作しました.
                    </p>
                    <p>
                        コンピューターサイエンス, Webプログラミング, Webデザインを習得する指針となった数多くの本とともに,
                        この4年間の軌跡を綴っていきたいと思います.
                    </p>
                </article>
                <!-- /article -->
            </section>
            <!-- /#section-prolog -->